.previousMargin{
  margin-left: 50px;
}
#classInfoText {
  font-style: Helvetica;
  font-weight: bold;
  color: #90caf9;
}

#classText {
  font-style: Helvetica;
  font-weight: bold;
  color: black;
}

.classDescriptionLeft{
  margin-left: 180px;
}

#page-header{
  text-align: center;
  font-family: helvetica;
  font-weight:bold;
  color: #0d47a1;
}

.classLeftAlign {
  margin-left: 185px;
}

#big-table {
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  margin-left: auto;
  margin-right: auto;
}

#navigation-background {
  background-color: #0d47a1;
}

#navigationText {
  color: white;
  font-family: Helvetica;
}

#stripe {
  background-color: #c3fdff;
}

#table-border {
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  border-collapse: collapse;
}

#cbTableRow {
  background-color: #c3fdff;
  padding-left: auto;
  padding-right: auto;
}

#column {
  padding-left: 15px;
  padding-right: 15px;
}

#tableText {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

#pos1, #pos2, #pos3, #pos4, #pos5, #Example1, #Example2, #Example3 {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.buttonBackground {
  background-color: #002171;
}

#ssColumnOutline {
  border: 3px solid black;
  border-collapse: collapse;
}

#cbDropDownInput {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

#cbDropDownCenter {
  margin-right: auto;
  margin-left: auto;

}

.course-browser-stripe{
  background-color:#BBB7F7;
}

#saved-courses-color{
  background-color: #BBB7F7;
  border: solid black
}


.dropdown-center {
  text-align: center;
}

.dropdown-right{
  text-align:right;
}
 .dropdown-left{
   text-align: left;
 }

 .dropdown-padding{
   padding-right: 150px;
   padding-left: 150px;
 }

 .dropdown-tall{
   padding-top: 25px;
   padding-bottom: 25px;
 }

 .button-custom{
   text-align: center;
   padding-top: 7px;
   padding-bottom: 7px;
   padding-right: 200px;
   padding-left: 150px;
 }

 .dropdown-tall-2{
   padding-top:20px;
   padding-bottom:20px;
 }
