.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0d47a1 !important;
    border-color: #0d47a1 !important;
}

#navText {
  color: white;
  font-family: Helvetica;
}

#page-header {
  text-align: center;
  font-family: helvetica;
  font-weight:bold;
  color: #002171;
}

#Category_Text {
  font-family: helvetica;
  color: black;

}

#Chart_Text {
  text-align: center;
  font-family: helvetica;
  color: black;
}

#biochem_Text {
  font-family: helvetica;
  color: white;
  font-weight:bold
}
	

#Text {
  font-family: helvetica;
  color: black;
}
#Button_Text {
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
a:hover {
  border-bottom: 3px solid white;
}

a.active {
  border-bottom: 3px solid white;
}

#login_button {
  font-family: helvetica;
  color: white;
}

#Home_Text {
  color: black;
  text-align: center;
  font-family: helvetica;
  font-weight:bold;
}

.table {
   margin: auto;
   width: 50% 
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
    